<div class="modal-overlay">
    <div class="modal-container">
        <div class="modal-header">
            <div class="modal-title">Inicar sesion</div>
            <div class="header-close-icon" (click)="cerrarModal()">X</div>
        </div>
        <div class="modal-body">
            <form>
                <input type="text" [(ngModel)]="username" name="username" placeholder="Nombre de usuario">
                <input type="password" [(ngModel)]="password" name="password" placeholder="Contraseña">
            </form>
            <div style="display: flex; align-items: center; gap: 5px;">
                <div>¿No tienes cuenta?</div>
                <a (click)="registarUsuario()" routerLink="/">Registrarse</a>
            </div> 
        </div>
        <div class="modal-footer">
            <button (click)="iniciarSesion()" [disabled]="cargando">Inicar sesión</button>
            <button (click)="cerrarModal()" [disabled]="cargando">Cancelar</button>
        </div>
    </div>
</div>