<div class="trabajador-card" [ngClass]="{ 'activo': trabajador.activo }" draggable="true" (dragstart)="drag($event, trabajador)" (dragend)="dragEnd($event)">
    <div id="superior">
        <div class="nombre">{{trabajador.nombre}} {{trabajador.apellidos}}</div>
        <div class="salario">{{trabajador.coste_h}}€/h</div>
        <div class="editar" (click)="editarTrabajador()">
            <i class="bi bi-three-dots"></i>
        </div>
    </div>
    <div id="inferior">
        Fatiga: 
        <input type="range">
    </div>

    <!--div class="left-side">
        <div class="img" ><i class="bi bi-person-standing"></i></div>
        <div class="info">
        </div>
    </div>
    
    <div class="right-side">
        Fatiga: {{formatearDigitos(trabajador.fatiga, 2)}}%
    </div-->

    
</div>