<div class="trabajador-card" [ngClass]="{ 'activo': trabajador.activo }">
    <div class="left-side">
        <div class="img" draggable="true" (dragstart)="drag($event, trabajador)" (dragend)="dragEnd($event)"><i class="bi bi-person-standing"></i></div>
        <div class="info">
            <div class="nombre">{{trabajador.nombre}}</div>
            <div class="puesto">{{trabajador.apellidos}}</div>
        </div>
    </div>
    
    <div class="right-side">
        Fatiga: {{formatearDigitos(trabajador.fatiga, 2)}}%
    </div>

    <div class="editar" (click)="editarTrabajador()">
        <i class="bi bi-three-dots"></i>
    </div>
</div>