<div class="trabajador-card" [ngClass]="{ 'activo': trabajador.activo }" draggable="true" (dragstart)="drag($event, trabajador)" (dragend)="dragEnd($event)">
    <div id="superior">
        <div class="nombre">{{trabajador.nombre}} {{trabajador.apellidos}}</div>
        <div class="salario">{{trabajador.coste_h}}€/h</div>
        <div class="editar" (click)="editarTrabajador()">
            <i class="bi bi-three-dots"></i>
        </div>
    </div>
    <div id="inferior" [title]="'Fatiga:' + formatearDigitos(trabajador.fatiga, 2) + '%'">
        <div class="fatiga">Fatiga</div>
        <input class="custom-slider gradient" disabled="disabled" type="range" min="0" max="100" [value]="trabajador.fatiga">
    </div>
    
</div>