.trabajador-card {
    background-color: var(--inner-card-color);
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    padding: 10px;
}

.trabajador-card.activo {
    background-color: gray;
}

.trabajador-card #superior{
    display: flex;
    justify-content: space-between;
}

.trabajador-card #inferior{
    display: flex;
    align-items: baseline;
}

.trabajador-card .editar {
    position: absolute;
    top: 3px;
    right: 5px;
    cursor: pointer;
    display: none;
    border-radius: 4px;
    background-color: var(--inner-card-color);
}

.trabajador-card:hover .editar {
    display: block;
}

.trabajador-card:hover .editar:hover {
    background-color: rgb(235, 233, 233);
}