<div class="maquina-card">
    <div class="left-side">
        <div class="img" draggable="true" (dragstart)="drag($event, maquina)" (dragend)="dragEnd($event)"><i class="bi bi-motherboard-fill"></i></div>
        <div class="info">
            <div class="nombre">{{maquina.nombre}}</div>
        </div>
    </div>

    <div class="right-side">
        Fatiga: {{maquina.fatiga}}%
    </div>

    <div class="editar" (click)="editarMaquina()">
        <i class="bi bi-three-dots"></i>
    </div>
</div>