.maquina-card {
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    justify-content: space-between;
}

.maquina-card .img {
    padding: 10px;
}

.maquina-card .left-side{
    display: flex;
    align-items: center;
}

.maquina-card .right-side{
    padding: 7px;
}

.maquina-card .info .nombre {
    font-size: 16px;
}
.maquina-card .info .puesto {
    font-size: 12px;
}

.maquina-card .editar {
    position: absolute;
    top: 3px;
    right: 5px;
    cursor: pointer;
    display: none;
}

.maquina-card:hover .editar {
    display: block;
}

.maquina-card:hover .editar:hover {
    background-color: rgb(235, 233, 233);
}