<div class="maquina-card" [ngClass]="{ 'activo': maquina.activo }" draggable="true" (dragstart)="drag($event, maquina)" (dragend)="dragEnd($event)">
    <div id="superior">
        <div class="nombre">{{maquina.nombre}}</div>
        <div class="salario">{{maquina.coste_h}}€/h</div>
        <div class="editar" (click)="editarMaquina()">
            <i class="bi bi-three-dots"></i>
        </div>
    </div>
    <div id="inferior" [title]="'Fatiga:' + formatearDigitos(maquina.fatiga, 2) + '%'">
        <div class="fatiga">Fatiga</div>
        <input class="custom-slider gradient" disabled="disabled" type="range" min="0" max="100" [value]="maquina.fatiga">
    </div>
    
</div>