<div class="modal-overlay">
    <div class="modal-container">
        <div class="modal-header">
            <div class="modal-title">Editar fábrica</div>
            <div class="header-close-icon" (click)="cerrarModal()">X</div>
        </div>
        <div class="modal-body">
            <form>
                <input type="text" [(ngModel)]="nombre_fabrica" name="nombre_fabrica" placeholder="Nombre de la fábrica">
                <input type="text" [value]="capital" title="Capital" disabled>
                <input type="text" [value]="sector" title="Sector" disabled>
                <input type="text" [value]="beneficio" title="Beneficio" disabled>
                <input type="text" [value]="coste" title="Coste" disabled>
            </form>
        </div>
        <div class="modal-footer">
            <button (click)="editarFabrica()" [disabled]="cargando">Editar fábrica</button>
            <button (click)="borrarFabrica(this.fabrica)" [disabled]="cargando">Borrar fábrica</button>
            <button (click)="cerrarModal()" [disabled]="cargando">Cancelar</button>
        </div>
    </div>
</div>