<div class="modal-overlay">
    <div class="modal-container">
        <div class="modal-header">
            <div class="modal-title">Modificar trabajador</div>
            <div class="header-close-icon" (click)="cerrarModal()">X</div>
        </div>
        <div class="modal-body">
            <form>
                <input type="text" [(ngModel)]="nombre" name="nombre" placeholder="Nombre">
                <input type="text" [(ngModel)]="apellidos" name="apellidos" placeholder="Apellidos">
                <input type="date" [(ngModel)]="fecha_nacimiento" name="fecha_nacimiento" placeholder="Fecha de nacimiento">
                
                <div>
                    <div class="input-title">
                        Fatiga:
                    </div>
                    <div class="slider-container">
                        <input disabled="disabled" type="range" min="0" max="100" [(ngModel)]="fatiga" name="fatiga">
                        <p>{{fatiga}}%</p>
                    </div>    
                </div>

                <input type="text" [(ngModel)]="coste_h" name="coste_h" placeholder="Coste por horas">
                
                <fieldset>
                    <legend>Tarea de preferencia:</legend>
                    <select [(ngModel)]="preferencias" name="preferencias">
                        <option value="0" selected="selected">Sin tarea de preferencia.</option>
                        <option *ngFor="let tarea of tareas" [value]="tarea.id">{{ tarea.nombre }}</option>
                    </select>
                </fieldset>

                <fieldset *ngIf="hard_skills.length > 0">
                    <legend>Hard skills:</legend>
                    <ng-container *ngFor="let skill of hard_skills">
                        <input type="checkbox" (change)="checkSkill(skill.id)" [checked]="trabajador.skills.includes(skill.id)">
                        <label>{{ skill.nombre }}</label><br>
                    </ng-container>
                </fieldset>
                <fieldset *ngIf="soft_skills.length > 0">
                    <legend>Soft skills:</legend>
                    <ng-container *ngFor="let skill of soft_skills">
                        <input type="checkbox" (change)="checkSkill(skill.id)" [checked]="trabajador.skills.includes(skill.id)">
                        <label>{{ skill.nombre }}</label><br>
                    </ng-container>
                </fieldset>
            </form>
        </div>
        <div class="modal-footer">
            <button (click)="modificarTrabajador()" [disabled]="cargando">Modificar trabajador</button>
            <button (click)="borrarTrabajador()" [disabled]="cargando">Borrar trabajador</button>
            <button (click)="cerrarModal()" [disabled]="cargando">Cancelar</button>
        </div>
    </div>
</div>