/* Importamos las fuentes */
@font-face {
    font-family: "Manrope";
    src: url('./assets/fonts/Manrope-VariableFont_wght.ttf') format('truetype');
}

/* Añadimos las variables del color*/
:root {
    --background-color: #2D2D2D;

    --lateral-card-color: #3F3F3F;
    --outer-card-color: #555555;
    --inner-card-color: #898989;

    --tarea-card-color: #F5F5F5;
    --tarea-font-color: #5C5C5C;

    --font-color: #F5F5F5;

    --boton-flotante-color: #F5F5F5;
    --boton-flotante-font-color: #555555;

    --modal-background-color: #3F3F3F;
    --modal-input-color: #898989;
    --modal-input-font-color: #2D2D2D;
}

/* Estilos globales de la aplicación */
* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Manrope";
    background-color: var(--background-color);
    color: var(--font-color);
}

body {
    margin: 0;
}

header{
    border-bottom: 1px solid lightgray;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1%;
}

#cabeceraDer{
    border: 1px solid black;
    padding: 6px 10px;
    border-radius: 20px;
    cursor: pointer;
}

/* Ventanas modales */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9998;
    backdrop-filter: blur(5px);
}

.modal-container {
    min-width: 400px;
    min-height: 400px;
    background-color: var(--modal-background-color);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.modal-header{
    flex-grow: 0;
    display: flex;
    align-items: center;
    height: 30px;
    padding: 20px;
    padding-top: 23px;
}

.modal-header .modal-title {
    font-size: 20px;
    font-weight: bold;
    flex-grow: 1;
}

.modal-header .header-close-icon {
    flex-grow: 0;
    font-size: 20px;
    cursor: pointer;
}

.modal-body {
    flex-grow: 1;
    padding: 20px 20px;
    overflow-y: auto;
    max-height: 76vh;
}

.modal-footer {
    flex-grow: 0;
    padding: 15px;
    display: flex;
    justify-content: right;
    gap: 10px;
}
.modal-body input{
    border: 0;
    background-color: var(--modal-input-color);
    color: var(--modal-input-font-color);
}

.modal-body input::placeholder{
    color: var(--modal-input-font-color);
}

/*TODO: compatibilidad placeholder con navegadores*/

/*Formularios*/
.form-group {
    margin-bottom: 12px;
}

.form-group .form-label {
    display: block;
    font-size: 14px;
    margin-bottom: 4px;
}

.form-group > input, .form-group > select, .form-group > div:not(.slider-container){
    display: block;
    width: 100%;
    height: 30px;
    border-radius: 4px;
}

.form-group input {
    border-radius: 4px;
    border-style: groove;
    padding-left: 4px;
    width: 100%;
    margin: 0;
}

.input-container {
    position: relative;
}

.input-container input{
    width: 100%;
    height: 100%;
}

.input-container .unidad{
    position: absolute;
    top: 50%;
    right: 5px; /* Ajusta la posición horizontal del símbolo del euro */
    transform: translateY(-50%);
    color: gray; /* Color opcional del símbolo */
}

.slider-container {
    display: flex;
}

.slider-container p {
    margin: 0px 0px 0px 5px;
}



/* Boton flotante */

.boton-flotante {
    height: 42px;
    width: 42px;
    background-color: var(--boton-flotante-color);
    color: var(--boton-flotante-font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.boton-flotante .icon {
    width: 50%;
    height: 50%;
}