/* Fuentes (con licencia de roboto) */

@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto/Roboto-Black.ttf') format('ttf'),
         url('./assets/fonts/Roboto/Roboto-BlackItalic.ttf') format('ttf'),
         url('./assets/fonts/Roboto/Roboto-Bold.ttf') format('ttf'),
         url('./assets/fonts/Roboto/Roboto-BoldItalic.ttf') format('ttf'),
         url('./assets/fonts/Roboto/Roboto-Italic.ttf') format('ttf'),
         url('./assets/fonts/Roboto/Roboto-Light.ttf') format('ttf'),
         url('./assets/fonts/Roboto/Roboto-LightItalic.ttf') format('ttf'),
         url('./assets/fonts/Roboto/Roboto-Medium.ttf') format('ttf'),
         url('./assets/fonts/Roboto/Roboto-MediumItalic.ttf') format('ttf'),
         url('./assets/fonts/Roboto/Roboto-Regular.ttf') format('ttf'),
         url('./assets/fonts/Roboto/Roboto-Thin.ttf') format('ttf'),
         url('./assets/fonts/Roboto/Roboto-ThinItalic.ttf') format('ttf');
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}  

/* Estilos globales de la aplicación */
* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
}

header{
    border-bottom: 1px solid lightgray;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1%;
}

#cabeceraDer{
    padding: 8px;
    border: 1px solid black;
    border-radius: 30px;
}

/* Ventanas modales */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9998;
    backdrop-filter: blur(5px);
}

.modal-container {
    width: 400px;
    height: 400px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.modal-header{
    flex-grow: 0;
    display: flex;
    align-items: center;
    height: 30px;
    border-bottom: 1px solid lightgray;
    padding: 20px;
    padding-top: 23px;
}

.modal-header .modal-title {
    font-size: 20px;
    font-weight: bold;
    flex-grow: 1;
}

.modal-header .modal-close-icon {
    flex-grow: 0;
}

.modal-body {
    flex-grow: 1;
    padding: 20px 20px;
}

.modal-footer {
    flex-grow: 0;
    padding: 15px;
    display: flex;
    justify-content: right;
    gap: 10px;
}