/* Importamos las fuentes */
@font-face {
    font-family: "Manrope";
    src: url('./assets/fonts/Manrope-VariableFont_wght.ttf') format('truetype');
}

/* Añadimos las variables del color*/
:root {
    --background-color: #2D2D2D;

    --lateral-card-color: #3F3F3F;
    --outer-card-color: #555555;
    --inner-card-color: #898989;

    --tarea-card-color: #F5F5F5;
    --tarea-font-color: #5C5C5C;

    --font-color: #F5F5F5;

    --boton-flotante-color: #F5F5F5;
    --boton-flotante-font-color: #555555;

    --modal-background-color: #3F3F3F;
    --modal-input-color: #898989;
    --modal-input-font-color: #2D2D2D;

    --slider-background-color: #D9D9D9;
}

/* Estilos globales de la aplicación */
* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Manrope";
    background-color: var(--background-color);
    color: var(--font-color);
}

body {
    margin: 0;
}

header{
    border-bottom: 1px solid lightgray;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1%;
}

#cabeceraDer{
    border: 1px solid black;
    padding: 6px 10px;
    border-radius: 20px;
    cursor: pointer;
}

/* Ventanas modales */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(45, 45, 45, 0.95);
    z-index: 9998;
    backdrop-filter: blur(5px);
    box-shadow: 10px 6px 18.8px 0px rgba(25, 25, 25, 0.8);
}

.modal-container {
    min-width: 400px;
    min-height: 400px;
    max-height: 95vh;
    background-color: var(--modal-background-color);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 0 45px;
}

.modal-header{
    flex-grow: 0;
    display: flex;
    align-items: center;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.modal-header .modal-title {
    font-size: 30px;
    font-weight: 500;
    flex-grow: 1;
}

.modal-header .modal-cross {
    width: 20px;
    height: 20px;
    margin-right: -14px;
}

.modal-header .header-close-icon {
    flex-grow: 0;
    font-size: 20px;
    cursor: pointer;
}

.modal-body {
    flex-grow: 1;
    padding: 20px 20px;
    overflow-y: auto;
    max-height: 76vh;
}

.modal-footer {
    flex-grow: 0;
    padding: 15px 0px;
    display: flex;
    justify-content: right;
    gap: 10px;
}

.modal-footer button{
    border-radius: 1000px;
    padding: 6px 20px;
    background-color: transparent;
    color: var(--font-color);
    border: 1px solid var(--font-color);
    cursor: pointer;
}

.modal-body input, .modal-body select, .modal-body textarea{
    border: 0;
    background-color: var(--modal-input-color);
    color: var(--modal-input-font-color);
}

.modal-body input::placeholder{
    color: var(--modal-input-font-color);
}

/*TODO: compatibilidad placeholder con navegadores*/

/*Formularios*/
.form-group {
    margin-bottom: 12px;
}

.form-group .form-label {
    display: block;
    font-size: 14px;
    margin-bottom: 4px;
}

.form-group > input, .form-group > select, .form-group > div:not(.slider-container){
    display: block;
    width: 100%;
    height: 30px;
    border-radius: 4px;
}

.form-group input {
    border-radius: 4px;
    border-style: groove;
    padding-left: 4px;
    width: 100%;
    margin: 0;
}

.input-container {
    position: relative;
}

.input-container input{
    width: 100%;
    height: 100%;
}

.input-container .unidad{
    position: absolute;
    top: 50%;
    right: 5px; /* Ajusta la posición horizontal del símbolo del euro */
    transform: translateY(-50%);
    color: gray; /* Color opcional del símbolo */
}

.slider-container {
    display: flex;
}

.slider-container p {
    margin: 0px 0px 0px 5px;
}



/* Boton flotante */

.boton-flotante {
    height: 42px;
    width: 42px;
    background-color: var(--boton-flotante-color);
    color: var(--boton-flotante-font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.boton-flotante .icon {
    width: 50%;
    height: 50%;
}

/********** Range Input Styles **********/
/*Range Reset*/
.custom-slider {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    margin: 0;
}

/* Removes default focus */
.custom-slider:focus {
    outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
.custom-slider::-webkit-slider-runnable-track {
    border-radius: 4px;
    height: 4px;
}

.custom-slider.gradient::-webkit-slider-runnable-track {
    background-image: linear-gradient(to right, #4DFF4A, #F0FF4A, #FF8A00, #FF0000);
}

.custom-slider.solid::-webkit-slider-runnable-track {
    background-color: var(--slider-background-color);
}

/* slider thumb */
.custom-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -2px; /* Centers thumb on the track */

    /*custom styles*/
    background-color: #FFFFFF;
    height: 7px;
    width: 7px;
    border-radius: 1rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.custom-slider.solid::-webkit-slider-thumb{
    background-color: #4F4F4F;
}

/*
input[type="range"]:focus::-webkit-slider-thumb {   
    border: 1px solid #053a5f;
    outline: 3px solid #053a5f;
    outline-offset: 0.125rem; 
}
*/

/******** Firefox styles ********/
/* slider track */
.custom-slider::-moz-range-track {
    background-color: #053a5f;
    border-radius: 0.5rem;
    height: 0.5rem;
}

.custom-slider::-moz-range-thumb {
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0; /*Removes default border-radius that FF applies*/

    /*custom styles*/
    background-color: #5cd5eb;
    height: 2rem;
    width: 1rem;
}

/*Scrollbars*/

.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: #2D2D2D;
    border-radius: 100vh;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #FFFFFF;
    border-radius: 100vh;
    width: 4px;
}

.modal-body::-webkit-scrollbar {
    width: 4px;
}

.modal-body::-webkit-scrollbar-track {
    background-color: #2D2D2D;
    border-radius: 100vh;
}

.modal-body::-webkit-scrollbar-thumb {
    background-color: #FFFFFF;
    border-radius: 100vh;
    width: 4px;
}


/*Boton vacio*/
.boton-borde{
    border-radius: 1000px;
    padding: 6px 40px;
    background-color: transparent;
    color: var(--font-color);
    border: 1px solid var(--font-color);
    cursor: pointer;
}
