.tarea {
    width: 300px;
    height: 150px;
    background-color: var(--tarea-card-color);
    border-radius: 15px;
    padding: 12px 16px;
    position: relative;
    color: var(--tarea-font-color);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.tarea.activa {
    background-color: lightblue;
}


.tarea .parte-superior {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.parte-superior .titulo {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 18px;
    font-weight: 500;
}

.parte-superior .coste,  .parte-superior .beneficio{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 16px;
    font-weight: 500;
}

.parte-superior .cantidad{
    font-size: 20px;
    font-weight: 700;
}

.tarea .editar{
    position: absolute;
    top: 15px;
    right: 15px;
}

.tarea .parte-central {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.parte-central .asignable{
    display: flex;
}

.parte-central .asignado{
    width: 30px;
}

.parte-central .tiempo{
    white-space: nowrap;
}


.tarea .parte-inferior {
    display: flex;
    justify-content: space-between;
}

.tarea:hover .editar:hover {
    background-color: rgb(235, 233, 233);
}

.tarea .drag-activated {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 7px;
    border: 1px dashed black;
}