<div class="tarea" [ngClass]="{ 'activa': tarea.isWorking }">
    <div class="parte-superior">
        <div class="titulo" [title]="tarea.nombre">{{tarea.nombre}}</div>
        <div class="coste">-{{tarea.coste}}€</div>
        <div class="beneficio">+{{tarea.beneficio}}€</div>
        <div class="cantidad">{{tarea.cantidad}}</div>
        <div class="editar" (click)="editarTarea()">
            <i class="bi bi-three-dots"></i>
        </div>
    </div>

    <div class="parte-central">
        <div class="asignable">
            <ng-container *ngIf="tarea.getAsignable() as asignable">
                <img *ngIf="isTrabajador()" class="asignado" style="cursor: pointer;" src="./../../../../assets/icons/Trabajador-dark.svg" alt="Trab" [title]="asignable.nombre" (click)="desasignarATarea()">
                <img *ngIf="!isTrabajador() && isMaquina()" class="asignado" style="cursor: pointer;" src="./../../../../assets/icons/Maquina-dark.svg" alt="Maq" [title]="asignable.nombre" (click)="desasignarATarea()">
            </ng-container>
            <ng-container *ngIf="!tarea.getAsignable() as asignable">
                <div class="asignado"></div>             
            </ng-container>
            <div *ngIf="!tarea.getAsignable() as asignable" class="sin-asignar"></div>

            <div *ngIf="tarea.getAsignable() as asignable" class="fatiga">Fatiga: {{formatearDigitos(asignable.fatiga, 2)}}%</div>
            <div *ngIf="!tarea.getAsignable() as asignable" class="fatiga">Fatiga: 0%</div>
        </div>
        <div class="duracion">
            <img class="clock" src="./../../../../assets/icons/Clock.svg">
            <div class="text">Duración: {{formatearDecimales(tarea.tiempoActual)}} / {{tarea.duracion}}</div>
        </div>

        <div class="factor-fatiga">
            <div class="text">F. Fatiga: x{{tarea.factorFatiga}}</div>
            <div class="slider-container">
                <input type="range" class="custom-slider solid" style="border-style: none;" min="0.5" max="2" step="0.1" [(ngModel)]="tarea.factorFatiga" (mousedown)="$event.stopPropagation()">
            </div>    
        </div>
        <div class="factor-duracion">
            <div class="text">F. Duración: x{{tarea.factorDuracion}}</div>
            <div class="slider-container">
                <input type="range" class="custom-slider solid" style="border-style: none;" min="0.5" max="2" step="0.1" [(ngModel)]="tarea.factorDuracion" (change)="cambiarDuracion(tarea)" (mousedown)="$event.stopPropagation()">
            </div>   
        </div>
    </div>

    <div *ngIf="tarea.isDragging && tarea.skillsMatched > 0" class="drag-activated" (drop)="drop($event, tarea)" (dragover)="allowDrop($event)">
        {{tarea.skillsMatched}}/{{tarea.skills.length}} skills
    </div>

    <div *ngIf="tarea.isDragging && tarea.skillsMatched == 0" class="drag-activated">
        No coincide ninguna skill
    </div>
</div>