.tarea {
    border: 1px solid lightgray;
    width: 300px;
    height: 120px;
    background-color: white;
    border-radius: 7px;
    padding: 5px;
    position: relative;
}

.tarea .tiempo{
    position: absolute;
    top: 5px;
    right: 5px;
}

.tarea .asignado{
    width: 30px;
    height: 40px;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.tarea .cantidad{
    position: absolute;
    top: 45px;
    right: 5px;
    font-weight: bold;
}

.tarea .editar{
    position: absolute;
    top: 45px;
    left: 40px;
}

.tarea .fatiga{
    position: absolute;
    top: 35px;
    left: 70px;
}

.tarea:hover .editar:hover {
    background-color: rgb(235, 233, 233);
}

.tarea .drag-activated {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 7px;
    border: 1px dashed black;
}