<div class="modal-overlay">
    <div class="modal-container">
        <div class="modal-header">
            <div class="modal-title">Modificar tarea</div>
            <div class="header-close-icon" (click)="cerrarModal()">X</div>
        </div>
        <div class="modal-body">
            <form>                
                <div class="form-group">
                    <label class="form-label">Nombre:</label>
                    <input type="text" [(ngModel)]="nombre" name="nombre" placeholder="Nombre">
                </div>
                <div class="form-group">
                    <label class="form-label">Duración:</label>
                    <input type="text" [(ngModel)]="duracion" name="duracion" placeholder="Duración">
                </div>
                <div class="form-group">
                    <label class="form-label">Beneficio:</label>
                    <input type="text" [(ngModel)]="beneficio" name="beneficio" placeholder="Beneficio">
                </div>
                <div class="form-group">
                    <label class="form-label">Coste:</label>
                    <input type="text" [(ngModel)]="coste" name="coste" placeholder="Coste">
                </div>
                <div class="form-group">
                    <label class="form-label">Descripción:</label>
                    <textarea [(ngModel)]="descripcion" name="descripcion" placeholder="Descripción"></textarea>
                </div>               

                <fieldset *ngIf="hard_skills.length > 0">
                    <legend>Hard skills:</legend>
                    <ng-container *ngFor="let skill of hard_skills">
                        <input type="checkbox" (change)="checkSkill(skill.id)" [checked]="tarea.skills.includes(skill.id)">
                        <label>{{ skill.nombre }}</label><br>
                    </ng-container>
                </fieldset>
                <fieldset *ngIf="soft_skills.length > 0">
                    <legend>Soft skills:</legend>
                    <ng-container *ngFor="let skill of soft_skills">
                        <input type="checkbox" (change)="checkSkill(skill.id)" [checked]="tarea.skills.includes(skill.id)">
                        <label>{{ skill.nombre }}</label><br>
                    </ng-container>
                </fieldset>
                
                <div class="form-group">
                    <label class="form-label">Tarea padre:</label>
                    <input type="text" disabled="disabled" [value]="subtask_dependencia" placeholder="Tarea padre">
                </div>
                <!--fieldset>
                    <legend>Tarea padre:</legend>
                    <select [(ngModel)]="subtask_dependencia" name="subtask_dependencia">
                        <option value="0" selected="selected">Sin tarea padre.</option>
                        <option *ngFor="let tarea of tareas" [value]="tarea.id">{{ tarea.nombre }}</option>
                    </select>
                </fieldset-->

            </form>
        </div>
        <div class="modal-footer">
            <button (click)="modificarTarea()" [disabled]="cargando">Modificar tarea</button>
            <button (click)="borrarTarea()" [disabled]="cargando">Borrar tarea</button>
            <button (click)="cerrarModal()" [disabled]="cargando">Cancelar</button>
        </div>
    </div>
</div>
