<header>
    <div id="cabeceraIzq">
        Fábricas
    </div>

    <div (click)="cerrarSesion()">{{userName}}</div>
</header>
<div id="content">
    <h2>Bienvenido de nuevo!</h2>
    <div *ngIf="!cargando" id="fabricasGrid">
        <div *ngFor="let fabrica of fabricas" class="fabrica" (click)="abrirFabrica(fabrica.id)">
            <div class="cuerpo">
                <div class="nombreFabrica">{{fabrica.nombre}}</div>
                <div class="dinero"><i class="bi bi-cash-stack"></i>{{fabrica.capital}}</div>
                <div class="beneficio"><i class="bi bi-graph-up"></i>{{fabrica.beneficio}}</div>
            </div>
            <div class="editar"(click)="abrirEditFabricaForm(fabrica); $event.stopPropagation();">
                <i class="bi bi-three-dots"></i>
            </div>
        </div>
        <div (click)="abrirCrearFabrica()" class="fabrica nueva">Crear nueva fábrica</div>
    </div>
    <div *ngIf="cargando">
        Cargando las fabricas...
    </div>
</div>
<app-crear-fabrica-form *ngIf="mostrarCrearFabrica" (close)="cerrarCrearFabrica()"></app-crear-fabrica-form>
<app-edit-fabrica-form *ngIf="editarFabricaForm" [fabrica]="fabricaEditar" (close)="cerrarEditFabricaForm()" (deleteFabrica)="borrarFabrica($event)"></app-edit-fabrica-form>
