<div class="modal-overlay">
    <div class="modal-container">
        <div class="modal-header">
            <div class="modal-title">Nueva tarea</div>
            <div class="header-close-icon" (click)="cerrarModal()">X</div>
        </div>
        <div class="modal-body">
            <form>
                <input type="text" [(ngModel)]="sector" name="sector" placeholder="Sector">
                <input type="text" [(ngModel)]="nombre" name="nombre" placeholder="Nombre">
                <input type="text" [(ngModel)]="duracion" name="duracion" placeholder="Duración">
                <input type="text" [(ngModel)]="beneficio" name="beneficio" placeholder="Beneficio">
                <input type="text" [(ngModel)]="descripcion" name="descripcion" placeholder="Descripción">
            </form>
        </div>
        <div class="modal-footer">
            <button (click)="crearTarea()" [disabled]="cargando">Crear tarea</button>
            <button (click)="cerrarModal()" [disabled]="cargando">Cancelar</button>
        </div>
    </div>
</div>