<div *ngIf="cargando">Cargando la fabrica...</div>
<ng-container *ngIf="!cargando && fabrica != undefined">
    <div class="panelCentral">
        <div id="fabricaTitulo">{{fabrica.nombre}}</div>
        <button class="botonAnyadirTarea boton-borde" (click)="abrirTareasForm()">Añadir tarea</button>
    </div>
    <div *ngIf="!cargando" id="content">
        <div class="barra-lateral" id="bl-izquierda">
            <div class="box">
                <div class="seccion" id="sc-controles">
                    <div class="boton-flotante" (click)="toggleFabricaEjecucion()">
                        <!--div (click)="toggleFabricaEjecucion()">{{ fabrica.activa ? 'Pause' : 'Play' }}</div-->
                        <img *ngIf="!fabrica.activa" class="icon" src="./../../../assets/icons/Play.svg" alt="Play" title="Play" style="margin-left: 2px;">
                        <img *ngIf="fabrica.activa" class="icon" src="./../../../assets/icons/Pause.svg" alt="Pause" title="Pause" style="margin-left: -1px;">
                    </div>
                    <div class="text">
                        Velocidad x{{velocidades[velocidadSeleccionada]}}
                    </div>
                    <div class="botones">
                        <img style="cursor: pointer;" src="./../../../assets/icons/Controller-up.svg" (click)="subirVelocidadEjecucion()">
                        <img style="cursor: pointer;" src="./../../../assets/icons/Controller-down.svg" (click)="bajarVelocidadEjecucion()">
                    </div>
                    <!--input type="range" [(ngModel)]="velocidadEjecucion" (change)="cambiarVelocidadEjecucion()" min="1" max="100" step="10"-->
                </div>
                <div class="seccion" id="sc-trabajadores">
                    <div class="sc-header">
                        <div class="left-group">
                            <img class="icon" src="./../../../assets/icons/Trabajador-light.svg">
                            <div class="text">Trabajadores</div>
                        </div>
                        <img class="add" (click)="abrirTrabajadoresForm()" src="./../../../assets/icons/Plus.svg">
                    </div>
                    <div class="lista-card custom-scrollbar">
                        <app-trabajador-card *ngFor="let trabajador of trabajadores" [trabajador]="trabajador" (editarTrabajadorForm)="abrirEditTrabajadoresForm($event)"></app-trabajador-card>
                    </div>
                </div>
                <div class="seccion" id="sc-maquinas">
                    <div class="sc-header">
                        <div class="left-group">
                            <img class="icon" src="./../../../assets/icons/Maquina.svg">
                            <div class="text">Maquinaria</div>
                        </div>
                        <img class="add" (click)="abrirMaquinasForm()" src="./../../../assets/icons/Plus.svg">
                    </div>
                    <div class="lista-card custom-scrollbar">
                        <app-maquina-card *ngFor="let maquina of maquinas" [maquina]="maquina" (editarMaquinaForm)="abrirEditMaquinasForm($event)"></app-maquina-card>
                    </div>
                </div>
            </div>
        </div>
        <div id="seccion-principal">
            <app-arbol-de-tareas style="display: block; height: 100%;" (editarTareaForm)="abrirEditTareasForm($event)"></app-arbol-de-tareas>
        </div>
        <div class="barra-lateral" id="bl-derecha">
            <div class="box">
                <div class="usuario">
                    <div class="boton-flotante" (click)="cerrarSesion()" [title]="userName">
                        <img class="icon" src="./../../../assets/icons/Trabajador-dark.svg" alt="User">
                    </div>
                </div>
                <div class="panel">
                    <div>Día: {{fabrica.dia}} Hora: {{fabrica.hora}}:{{formatearMinutos(fabrica.minutos)}}</div>
                    <div class="botonera">
                        <!--button (click)="skillMatching()">Skills matching</button-->
                        <button class="boton" (click)="algoritmoGenetico()">Asignación automática</button>
                        <!--button (click)="algoritmoGeneticoRL()">Algoritmo genético RL</button-->
                        <!--button (click)="guardarHistorial()">Guardar historial</button-->
                        <!--button (click)="boton1()">Botón extra 1</button-->
                        <!--button (click)="boton2()">Botón extra 2</button-->
                        <!--button (click)="boton3()">Botón extra 3</button-->
                        <!--button (click)="boton4()">Botón extra 4</button-->
                        <button class="boton" (click)="predecirFatiga()">Predecir fatiga</button>
                        <button class="boton bloqued" title="No disponible.">Predicción económica</button>
                        <button class="boton bloqued" title="No disponible.">Predicción duración</button>
                        <button class="boton bloqued" title="No disponible.">Recomendaciones</button>
                    </div>

                    <div class="capital">
                        <div id="costes" class="capital-gruop">
                            <div class="money">{{fabrica.coste}}€</div>
                            <div class="title">Costes totales</div>
                        </div>
                        <div id="beneficios" class="capital-gruop">
                            <div class="money">{{fabrica.beneficio}}€</div>
                            <div class="title">Beneficios totales</div>
                        </div>
                        <div id="cap-total" class="capital-gruop">
                            <div class="money">{{fabrica.capital}}€</div>
                            <div class="title">Capital total</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-trabajadores-form [hard_skills]="hard_skills" [soft_skills]="soft_skills" *ngIf="trabajadoresForm" (close)="cerrarTrabajadoresForm()"></app-trabajadores-form>
    <app-edit-trabajadores-form [hard_skills]="hard_skills" [soft_skills]="soft_skills" *ngIf="editTrabajadoresForm" [trabajador]="trabajadorEditando" (close)="cerrarEditTrabajadoresForm()"></app-edit-trabajadores-form>

    <app-maquinas-form [hard_skills]="hard_skills" *ngIf="maquinasForm" (close)="cerrarMaquinasForm()"></app-maquinas-form>
    <app-edit-maquinas-form [hard_skills]="hard_skills" *ngIf="editMaquinasForm" [maquina]="maquinaEditando" (close)="cerrarEditMaquinasForm()"></app-edit-maquinas-form>

    <app-tareas-form *ngIf="tareasForm" (close)="cerrarTareasForm()"></app-tareas-form>
    <app-edit-tareas-form [hard_skills]="hard_skills" [soft_skills]="soft_skills" *ngIf="editTareasForm" [tarea]="tareaEditando" (close)="cerrarEditTareasForm()"></app-edit-tareas-form>

    <app-nivel-fatiga-form *ngIf="fatigaForm" [nivelFatiga]="nivelFatiga" (close)="cerrarFatigaForm()"></app-nivel-fatiga-form>
</ng-container>
