.boton-flotante.reiniciarMapa {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-42px, 0px);
}

.line{
    stroke: var(--inner-card-color);
}

.arrow-head{
    fill: var(--inner-card-color);
}